@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

body {
    background-color: tomato;
}

h1,
h2,
h3,
h5 {
    font-family: Black Ops One;

}

.tyranidwarrior {
    Text-decoration: none;
    font-size: large;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-left: 700px;
}

.screamerkiller {

    display: block;
    z-index: 20;
    cursor: pointer;
}

.screamerkiller:hover {
    transform: scale(1.11)
}

.gargoyle {

    border: 3px darkcyan solid;
    background-color: darkcyan;

}

.biovore {
   margin-left: 50px;
    max-width: 100%;
    height: auto;
   
}

.wingedtyranidprime {
    text-align: center;

}

.heirophant {
    text-align: center;

}

.tyranidprime {
    border: 2px solid darkcyan;
    Text-decoration: none;
    font-size: large;

}

.tyranidprime:hover {
    color: white;
    font-size: larger;
}
/*{ 0 - 37.5em },*/
@media screen and (max-width: 592px) {

    .screamerkiller {
        width: 99%;
    }
}
/*{ 37.5 - 48em },*/
@media screen and (max-width: 768px) {

    .screamerkiller {
        width: 99%;
    }
}
/*{ 48em - 60em }*/
@media screen and (max-width: 960px) {

    .screamerkiller {
        width: 99%;
    }
}
/*{ 60em - 80em } */
@media screen and (max-width: 1280px) {

    .screamerkiller {
        width: 99%;
    }
}
/*,og { 80em + }*/
@media screen and (min-width: 1281px) {

    .screamerkiller {
        width: 99%;
    }
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
/*
@media screen and (max-width: 424px) {
    .heirophant {
        font-size: 80px;
    }
}

@media screen and (min-width: 425px) {
    .heirophant {
        font-size: 30px;
    }
}



@media screen and (min-width: 650px) {

    .hivecrone {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: 3px black solid;
        background-color: darkcyan;
        margin-top: 0px;
    }
}
*/

/*{ 0 - 37.5em },*/
@media screen and (max-width: 365px) {

    .wingedtyranidprime {
       display:grid;
    }
}
